*{
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body{
  height: 150vh;
  background: lightgrey;
}

.container{
  height: 70vh;
  width: 94vw;
  background-color: rgb(3, 3, 88);
  margin: 0 3vw;
  border-radius: 9px;
  display: flex;
  overflow: hidden;
  justify-content: center;
  position: relative;
}

.woman img{
  background-size: cover;
  height: 70vh;
  background-size: cover;
}

.man img{
  position: absolute;
  width: max(11vh, 11vw);
  left: 2vw;
  top: 3vh;
  border-radius: 9px;
}

ul {
  list-style: none;
  position: absolute;
  left: 3vw;
  bottom: 2vh;
  background-color: white;
  padding: 3px 4px;
  border-radius: 10px;
  margin-right: 100px;
}

.dot{
  margin: 5px 0;
  height: 6px;
  width: 6px;
  border-radius: 10px;
 

}
.gray-dot{
  background-color: gray;
}

.green-dot{
  background-color: rgb(1, 172, 1);
}

.call-btns{
  position: absolute;
  display: flex;
  bottom: 10px;
  justify-content: center;
  align-items: center;
}

.btn1{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  margin: 0 7px;
  padding: 12px 14px;

  
}
.btn2{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: white;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  margin: 0 7px;
  padding: 12px 12px;
}
.btn3{
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: red;
  -webkit-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
  margin: 0 7px;
  padding: 12px 9px;
}

.btn1:hover, .btn2:hover, .btn3:hover{
  transform: scale(1.15);

}

.dot:hover, ul:hover{
  transform: scale(1.2);
} 
